@font-face {
  font-family: 'Stiepa Serif';
  src: url('../assets/fonts/StiepaSerif-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Stiepa Sans';
  src: url('../assets/fonts/StiepaSans-Regular.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Stiepa Sans';
  src: url('../assets/fonts/StiepaSans-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}
